<div class="modal gx-loadingbar-modal" tabindex="2000" role="dialog" 
        aria-labelledby="mySmallModalLabel" aria-hidden="true" style="margin: 18% auto">        
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">Por favor, aguarde...</h6>
      </div>
      <div class="modal-body">
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" 
                role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
        </div>
      </div>
    </div>
  </div>
</div>